# [SQLAlchemy](https://www.sqlalchemy.org/)

* [Documentation](http://www.sqlalchemy.org/docs/)
* [GitHub](https://github.com/sqlalchemy/sqlalchemy)

Installation:
```shell
pip install SQLAlchemy
```

## SQLAlchemy Core


Pure SQL

### [Engine Configuration](https://docs.sqlalchemy.org/en/13/core/engines.html)

<img style="float: left;" src="https://docs.sqlalchemy.org/en/13/_images/sqla_engine_arch.png">

__connection database url__: `dialect+driver://username:password@host:port/database`

As the URL is like any other URL, special characters such as those that may be used in the password need to be URL encoded. Below is an example of a URL that includes the password `kx%jj5/g`


```py
import urllib.parse
urllib.parse.quote_plus("kx%jj5/g")
```

`kx%25jj5%2Fg`

### PostgreSQL

The PostgreSQL dialect uses psycopg2 as the default DBAPI. pg8000 is also available as a pure-Python substitute:

#### default
`engine = create_engine('postgresql://scott:tiger@localhost/mydatabase')`

#### psycopg2
`engine = create_engine('postgresql+psycopg2://scott:tiger@localhost/mydatabase')`

#### pg8000
`engine = create_engine('postgresql+pg8000://scott:tiger@localhost/mydatabase')`

### MySQL

The MySQL dialect uses mysql-python (mysqlclient) as the default DBAPI. There are many MySQL DBAPIs available, including MySQL-connector-python and OurSQL:

#### default
`engine = create_engine('mysql://scott:tiger@localhost/foo')`

#### mysqlclient (a maintained fork of MySQL-Python)
`engine = create_engine('mysql+mysqldb://scott:tiger@localhost/foo')`

#### PyMySQL
`engine = create_engine('mysql+pymysql://scott:tiger@localhost/foo')`



### MariaDB Support

The MariaDB variant of MySQL retains fundamental compatibility with MySQL’s protocols however the development of these two products continues to diverge. Within the realm of SQLAlchemy, the two databases have a small number of syntactical and behavioral differences that SQLAlchemy accommodates automatically. To connect to a MariaDB database, no changes to the database URL are required:


#### default
`engine = create_engine('mysql://scott:tiger@localhost/foo')`

#### mysqlclient (a maintained fork of MySQL-Python)
`engine = create_engine('mysql+mysqldb://scott:tiger@localhost/foo')`

#### PyMySQL
`engine = create_engine('mysql+pymysql://scott:tiger@localhost/foo')`

Upon first connect, the SQLAlchemy dialect employs a server version detection scheme that determines if the backing database reports as MariaDB. Based on this flag, the dialect can make different choices in those of areas where its behavior must be different.
MariaDB-Only Mode

The dialect also supports an optional “MariaDB-only” mode of connection, which may be useful for the case where an application makes use of MariaDB-specific features and is not compatible with a MySQL database. To use this mode of operation, replace the “mysql” token in the above URL with “mariadb”:

`engine = create_engine("mariadb+pymsql://user:pass@some_mariadb/dbname?charset=utf8mb4")`

### Oracle

The Oracle dialect uses cx_oracle as the default DBAPI:

`engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname')`

`engine = create_engine('oracle+cx_oracle://scott:tiger@tnsname')`

### Microsoft SQL Server

The SQL Server dialect uses pyodbc as the default DBAPI. pymssql is also available:

#### pyodbc
`engine = create_engine('mssql+pyodbc://scott:tiger@mydsn')`

#### pymssql
`engine = create_engine('mssql+pymssql://scott:tiger@hostname:port/dbname')`

### SQLite

SQLite connects to file-based databases, using the Python built-in module sqlite3 by default.

As SQLite connects to local files, the URL format is slightly different. The “file” portion of the URL is the filename of the database. For a relative file path, this requires three slashes:

`sqlite://<nohostname>/<path>`
where `path` is relative:

`engine = create_engine('sqlite:///foo.db')`

And for an absolute file path, the three slashes are followed by the absolute path:

#### Unix/Mac - 4 initial slashes in total
`engine = create_engine('sqlite:////absolute/path/to/foo.db')`

#### Windows
`engine = create_engine('sqlite:///C:\\path\\to\\foo.db')`

#### Windows alternative using raw string
`engine = create_engine(r'sqlite:///C:\path\to\foo.db')`

#### In-memory SQLite
To use a SQLite :memory: database, specify an empty URL:
`engine = create_engine('sqlite://')`

### Others Dialects

https://docs.sqlalchemy.org/en/13/dialects/index.html

#### SQLite sample

* https://github.com/lerocha/chinook-database
* https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite

In [1]:
sqllite_path = "/tmp/Chinook_Sqlite.sqlite"

sqllite_alchemy_conn_string = f"sqlite:///{sqllite_path}"

In [2]:
import requests

res = requests.get("https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite")

with open(sqllite_path, "wb") as fp:
    fp.write(res.content)
    
"Done!"

'Done!'

#### [Connection / Engine API](https://docs.sqlalchemy.org/en/13/core/connections.html#connection-engine-api)

In [5]:
from sqlalchemy import create_engine

engine = create_engine(sqllite_alchemy_conn_string)

with engine.connect() as connection:
    result = connection.execute("SELECT * FROM Artist ORDER BY Name LIMIT 5")
    
    print(f"{type(result) = }")
    print(hasattr(result, "__next__"), hasattr(result, "__len__"))
    
    for row in result:  
        # In fact it's wrapper around row = self.fetchone() at least in 1.3
        # https://github.com/sqlalchemy/sqlalchemy/blob/4d7a872823220b9ec906fadea986a30c26db7887/lib/sqlalchemy/engine/result.py#L1025
        print(row)

type(result) = <class 'sqlalchemy.engine.result.ResultProxy'>
True False
(43, 'A Cor Do Som')
(1, 'AC/DC')
(230, 'Aaron Copland & London Symphony Orchestra')
(202, 'Aaron Goldberg')
(214, 'Academy of St. Martin in the Fields & Sir Neville Marriner')

#### [ResultProxy](https://docs.sqlalchemy.org/en/13/core/connections.html?highlight=resultproxy#sqlalchemy.engine.ResultProxy)

In [6]:
from sqlalchemy import create_engine

engine = create_engine(sqllite_alchemy_conn_string)

with engine.connect() as connection:
    result = connection.execute("SELECT * FROM Artist ORDER BY Name LIMIT 5")
    
    print(result.first())
    
    print(result.closed)

(43, 'A Cor Do Som')
True

In [7]:
from sqlalchemy import create_engine

engine = create_engine(sqllite_alchemy_conn_string)

with engine.connect() as connection:
    result = connection.execute("SELECT * FROM Artist ORDER BY Name LIMIT 5")
    
    print(result.first())
    
    print(result.closed)
    
    print(result.first())

(43, 'A Cor Do Som')
True

ResourceClosedError: This result object is closed.

In [8]:
from typing import Mapping


from sqlalchemy import create_engine

engine = create_engine(sqllite_alchemy_conn_string)

with engine.connect() as connection:
    result = connection.execute("SELECT * FROM Artist ORDER BY Name LIMIT 5")
    
    for row in result:
        print(row, type(row), isinstance(row, Mapping))

(43, 'A Cor Do Som') <class 'sqlalchemy.engine.result.RowProxy'> False
(1, 'AC/DC') <class 'sqlalchemy.engine.result.RowProxy'> False
(230, 'Aaron Copland & London Symphony Orchestra') <class 'sqlalchemy.engine.result.RowProxy'> False
(202, 'Aaron Goldberg') <class 'sqlalchemy.engine.result.RowProxy'> False
(214, 'Academy of St. Martin in the Fields & Sir Neville Marriner') <class 'sqlalchemy.engine.result.RowProxy'> False

#### [RowProxy](https://docs.sqlalchemy.org/en/13/core/connections.html?highlight=resultproxy#sqlalchemy.engine.RowProxy)

In [9]:
from sqlalchemy import create_engine

engine = create_engine(sqllite_alchemy_conn_string)

with engine.connect() as connection:
    result = connection.execute("SELECT * FROM Artist ORDER BY Name LIMIT 5")
    
    for row in result:
        print(tuple(row))  # to tuple

(43, 'A Cor Do Som')
(1, 'AC/DC')
(230, 'Aaron Copland & London Symphony Orchestra')
(202, 'Aaron Goldberg')
(214, 'Academy of St. Martin in the Fields & Sir Neville Marriner')

In [10]:
from sqlalchemy import create_engine

engine = create_engine(sqllite_alchemy_conn_string)

with engine.connect() as connection:
    result = connection.execute("SELECT * FROM Artist ORDER BY Name LIMIT 5")
    
    for row in result:
        print(list(row))  # to list

[43, 'A Cor Do Som']
[1, 'AC/DC']
[230, 'Aaron Copland & London Symphony Orchestra']
[202, 'Aaron Goldberg']
[214, 'Academy of St. Martin in the Fields & Sir Neville Marriner']

In [11]:
from sqlalchemy import create_engine

engine = create_engine(sqllite_alchemy_conn_string)

with engine.connect() as connection:
    result = connection.execute("SELECT * FROM Artist ORDER BY Name LIMIT 5")
    
    for row in result:
        print(dict(row))

{'ArtistId': 43, 'Name': 'A Cor Do Som'}
{'ArtistId': 1, 'Name': 'AC/DC'}
{'ArtistId': 230, 'Name': 'Aaron Copland & London Symphony Orchestra'}
{'ArtistId': 202, 'Name': 'Aaron Goldberg'}
{'ArtistId': 214, 'Name': 'Academy of St. Martin in the Fields & Sir Neville Marriner'}

In [12]:
from collections import OrderedDict
from sqlalchemy import create_engine

engine = create_engine(sqllite_alchemy_conn_string)

with engine.connect() as connection:
    result = connection.execute("SELECT * FROM Artist ORDER BY Name LIMIT 5")
    
    for row in result:
        print(OrderedDict(row))

OrderedDict([('ArtistId', 43), ('Name', 'A Cor Do Som')])
OrderedDict([('ArtistId', 1), ('Name', 'AC/DC')])
OrderedDict([('ArtistId', 230), ('Name', 'Aaron Copland & London Symphony Orchestra')])
OrderedDict([('ArtistId', 202), ('Name', 'Aaron Goldberg')])
OrderedDict([('ArtistId', 214), ('Name', 'Academy of St. Martin in the Fields & Sir Neville Marriner')])

In [13]:
new_records = [
    (1006, "Awesome Artist"),
    (1007, "Pretty Good Artist"),
    (1008, "Who is is?"),
    (1009, "WAAAAAAAAAAT"),
]

from sqlalchemy import create_engine

engine = create_engine(sqllite_alchemy_conn_string)


with engine.connect() as connection:
    insert_result = connection.execute("INSERT INTO Artist VALUES (?, ?)", new_records)
    print(f"{insert_result.rowcount = }")

with engine.connect() as connection:
    select_result = connection.execute("SELECT * FROM Artist WHERE ArtistId >= 1006")
    
    for row in select_result:
        print(row)

insert_result.rowcount = 4
(1006, 'Awesome Artist')
(1007, 'Pretty Good Artist')
(1008, 'Who is is?')
(1009, 'WAAAAAAAAAAT')

In [14]:
new_records = [
    (2006, "Awesome Artist"),
    (2007, "Pretty Good Artist"),
    (2008, "Who is is?"),
    (2009, "WAAAAAAAAAAT"),
]

from sqlalchemy import create_engine

engine = create_engine(sqllite_alchemy_conn_string)


with engine.connect() as connection:
    insert_result = connection.execution_options(autocommit=False).\
        execute("INSERT INTO Artist VALUES (?, ?)", new_records)
    print(f"{insert_result.rowcount = }")

with engine.connect() as connection:
    select_result = connection.execute("SELECT * FROM Artist WHERE ArtistId >= 2006")
    
    for row in select_result:
        print(row)

insert_result.rowcount = 4

In [15]:
new_records = [
    (2006, "Awesome Artist"),
    (2007, "Pretty Good Artist"),
    (2008, "Who is is?"),
    (2009, "WAAAAAAAAAAT"),
]

from sqlalchemy import create_engine

engine = create_engine(
    sqllite_alchemy_conn_string, 
    execution_options={"autocommit": False}
)


with engine.connect() as connection:
    insert_result = connection.execute("INSERT INTO Artist VALUES (?, ?)", new_records)
    print(f"{insert_result.rowcount = }")

with engine.connect() as connection:
    select_result = connection.execute("SELECT * FROM Artist WHERE ArtistId >= 2006")
    
    for row in select_result:
        print(row)

insert_result.rowcount = 4

In [17]:
new_records = [
    (2006, "Awesome Artist"),
    (2007, "Pretty Good Artist"),
    (2008, "Who is is?"),
    (2009, "WAAAAAAAAAAT"),
]

from sqlalchemy import create_engine

engine = create_engine(
    sqllite_alchemy_conn_string, 
    execution_options={"autocommit": False}
)


with engine.connect() as connection:
    insert_result = connection.execute("INSERT INTO Artist VALUES (?, ?)", new_records)
    connection.commit()

with engine.connect() as connection:
    select_result = connection.execute("SELECT * FROM Artist WHERE ArtistId >= 2006")
    
    for row in select_result:
        print(row)

AttributeError: 'Connection' object has no attribute 'commit'

In [16]:
new_records = [
    (2006, "Awesome Artist"),
    (2007, "Pretty Good Artist"),
    (2008, "Who is is?"),
    (2009, "WAAAAAAAAAAT"),
]

from sqlalchemy import create_engine

engine = create_engine(
    sqllite_alchemy_conn_string, 
    execution_options={"autocommit": False}
)


with engine.connect() as connection:
    insert_result = connection.execute("INSERT INTO Artist VALUES (?, ?)", new_records)
    connection.rollback()

with engine.connect() as connection:
    select_result = connection.execute("SELECT * FROM Artist WHERE ArtistId >= 2006")
    
    for row in select_result:
        print(row)

AttributeError: 'Connection' object has no attribute 'rollback'

#### [Transaction](https://docs.sqlalchemy.org/en/13/core/connections.html?highlight=resultproxy#sqlalchemy.engine.Transaction)

In [18]:
new_records = [
    (2006, "Awesome Artist"),
    (2007, "Pretty Good Artist"),
    (2008, "Who is is?"),
    (2009, "WAAAAAAAAAAT"),
]

from sqlalchemy import create_engine

engine = create_engine(
    sqllite_alchemy_conn_string, 
    execution_options={"autocommit": False}
)


with engine.connect() as connection:
    with connection.begin():  # Transaction. With autocoomit on end of with block. Or rollback on exception
        insert_result = connection.execute("INSERT INTO Artist VALUES (?, ?)", new_records)

with engine.connect() as connection:
    select_result = connection.execute("SELECT * FROM Artist WHERE ArtistId >= 2006")
    
    for row in select_result:
        print(row)

(2006, 'Awesome Artist')
(2007, 'Pretty Good Artist')
(2008, 'Who is is?')
(2009, 'WAAAAAAAAAAT')

In [19]:
pg_connect_string = "postgres+psycopg2://postgres:postgres@localhost:5432/postgres"

In [20]:
from sqlalchemy import create_engine

engine = create_engine(
    pg_connect_string, 
    execution_options={"autocommit": False}
)

limit = 10

with engine.connect() as connection:
    result = connection.execute(
        "SELECT * FROM public.github_users FETCH FIRST %(limit)s ROWS ONLY;", 
        {"limit": limit}
    )

    for row in result:
        print(dict(row))

{'user_id': 21, 'url': 'https://api.github.com/users/technoweenie', 'login': 'technoweenie', 'avatar_url': 'https://avatars.githubusercontent.com/u/21?', 'gravatar_id': '', 'display_login': 'technoweenie'}
{'user_id': 22, 'url': 'https://api.github.com/users/macournoyer', 'login': 'macournoyer', 'avatar_url': 'https://avatars.githubusercontent.com/u/22?', 'gravatar_id': '', 'display_login': 'macournoyer'}
{'user_id': 38, 'url': 'https://api.github.com/users/atmos', 'login': 'atmos', 'avatar_url': 'https://avatars.githubusercontent.com/u/38?', 'gravatar_id': '', 'display_login': 'atmos'}
{'user_id': 45, 'url': 'https://api.github.com/users/mojodna', 'login': 'mojodna', 'avatar_url': 'https://avatars.githubusercontent.com/u/45?', 'gravatar_id': '', 'display_login': 'mojodna'}
{'user_id': 69, 'url': 'https://api.github.com/users/rsanheim', 'login': 'rsanheim', 'avatar_url': 'https://avatars.githubusercontent.com/u/69?', 'gravatar_id': '', 'display_login': 'rsanheim'}
{'user_id': 78, 'url': 'https://api.github.com/users/indirect', 'login': 'indirect', 'avatar_url': 'https://avatars.githubusercontent.com/u/78?', 'gravatar_id': '', 'display_login': 'indirect'}
{'user_id': 81, 'url': 'https://api.github.com/users/engineyard', 'login': 'engineyard', 'avatar_url': 'https://avatars.githubusercontent.com/u/81?', 'gravatar_id': '', 'display_login': 'engineyard'}
{'user_id': 82, 'url': 'https://api.github.com/users/jsierles', 'login': 'jsierles', 'avatar_url': 'https://avatars.githubusercontent.com/u/82?', 'gravatar_id': '', 'display_login': 'jsierles'}
{'user_id': 85, 'url': 'https://api.github.com/users/brixen', 'login': 'brixen', 'avatar_url': 'https://avatars.githubusercontent.com/u/85?', 'gravatar_id': '', 'display_login': 'brixen'}
{'user_id': 87, 'url': 'https://api.github.com/users/tmornini', 'login': 'tmornini', 'avatar_url': 'https://avatars.githubusercontent.com/u/87?', 'gravatar_id': '', 'display_login': 'tmornini'}

#### [Pool Implementations](https://docs.sqlalchemy.org/en/13/core/pooling.html#api-documentation-available-pool-implementations)

In [21]:
from sqlalchemy.pool import QueuePool
from sqlalchemy import create_engine


engine = create_engine(
    pg_connect_string, 
    poolclass=QueuePool, # Type of pool
    pool_size=5,         # Size of pool
    max_overflow=10      # Overflow of pool. Actual max_pool_size= pool_size + max_overflow
)

In [24]:
from sqlalchemy.pool import QueuePool
from sqlalchemy import create_engine
import threading
import time


def test_pool(engine):
    with engine.connect() as connection:
        with connection.begin():
            connection.execute("SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;")
            time.sleep(0.5)  # Some long operations 


if __name__ == "__main__":
    workers = 20
    
    pg_connect_string = "postgres+psycopg2://postgres:postgres@localhost:5432/postgres"
    
    pooled_engine = create_engine(
        pg_connect_string, 
        poolclass=QueuePool, # Type of pool
        pool_size=2,         # Size of pool
        max_overflow=0,      # Overflow of pool. Actual max_pool_size= pool_size + pool_size
        echo=True,           # Set on Alchemy logging
    )
    
    for ix in range(workers):
        worker = threading.Thread(
            target=test_pool,
            args=(pooled_engine, ),
            name="Worker-%02d" % ix,
        )
        worker.start()

2021-02-03 11:42:39,116 INFO sqlalchemy.engine.base.Engine select version()
2021-02-03 11:42:39,117 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:39,118 INFO sqlalchemy.engine.base.Engine select current_schema()
2021-02-03 11:42:39,119 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:39,120 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-03 11:42:39,121 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:39,121 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-03 11:42:39,122 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:39,122 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2021-02-03 11:42:39,123 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:39,124 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:39,124 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:39,125 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:39,124 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:39,125 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:39,126 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:39,629 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:39,629 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:39,631 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:39,632 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:39,632 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:39,632 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:39,633 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:39,633 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:40,136 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:40,137 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:40,138 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:40,138 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:40,139 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:40,139 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:40,140 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:40,140 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:40,641 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:40,642 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:40,642 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:40,642 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:40,643 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:40,644 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:40,645 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:40,645 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:41,146 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:41,147 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:41,147 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:41,148 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:41,148 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:41,149 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:41,150 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:41,150 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:41,652 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:41,652 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:41,654 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:41,655 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:41,655 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:41,655 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:41,656 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:41,657 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:42,158 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:42,159 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:42,159 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:42,160 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:42,161 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:42,161 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:42,162 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:42,163 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:42,664 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:42,664 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:42,665 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:42,667 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:42,667 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:42,668 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:42,669 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:42,669 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:43,169 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:43,171 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:43,171 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:43,171 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:43,172 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:43,172 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:43,173 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:43,174 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:43,674 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:43,675 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:43,676 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:43,676 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:43,677 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:42:43,677 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:43,678 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:42:43,679 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:42:44,180 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:42:44,181 INFO sqlalchemy.engine.base.Engine COMMIT

In [26]:
from sqlalchemy.pool import QueuePool
from sqlalchemy import create_engine
import threading
import time


def test_pool(engine):
    with engine.connect() as connection:
        with connection.begin():
            connection.execute("SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;")
            time.sleep(1) # Some long operations 


def start_workers(engine, workers = 20):
    
    threads = []
    for ix in range(workers):
        worker = threading.Thread(
            target=test_pool,
            args=(engine, ),
            name="Worker-%02d" % ix,
        )
        worker.start()
        threads.append(worker)
            
    for worker in threads:
        worker.join()

        
if __name__ == "__main__":
    pg_connect_string = "postgres+psycopg2://postgres:postgres@localhost:5432/postgres"
    
    # Arguments for Pool class pass throught create_engine have prefix `pool_`
    pooled_engine = create_engine(
        pg_connect_string, 
        poolclass=QueuePool, # Type of pool
        pool_size=2,         # Size of pool
        max_overflow=0,      # Overflow of pool. Actual max_pool_size= pool_size + pool_size
        echo=True,           # Set on Alchemy logging
        pool_pre_ping=True,  # Use "pre-ping" query line SELECT 1; or SELECT 1 FROM DUMMY. Depend on RDBMS.
        pool_recycle=5,      # Replace connection after selected seconds
    )
    
    start_workers(pooled_engine, 20)

2021-02-03 11:47:43,167 INFO sqlalchemy.engine.base.Engine select version()
2021-02-03 11:47:43,169 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:43,171 INFO sqlalchemy.engine.base.Engine select current_schema()
2021-02-03 11:47:43,171 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:43,173 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-03 11:47:43,173 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:43,174 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-03 11:47:43,175 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:43,176 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2021-02-03 11:47:43,176 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:43,178 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:43,178 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:43,179 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:43,179 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:43,180 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:43,180 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:44,183 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:44,184 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:44,185 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:44,186 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:44,186 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:44,187 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:44,188 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:44,187 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:45,191 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:45,191 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:45,193 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:45,193 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:45,193 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:45,194 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:45,195 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:45,196 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:46,199 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:46,199 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:46,201 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:46,201 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:46,202 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:46,202 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:46,203 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:46,204 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:47,204 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:47,205 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:47,206 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:47,207 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:47,207 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:47,208 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:47,207 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:47,208 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:48,210 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:48,211 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:48,217 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:48,218 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:48,218 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:48,219 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:48,220 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:48,221 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:49,224 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:49,224 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:49,226 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:49,227 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:49,227 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:49,228 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:49,228 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:49,229 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:50,232 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:50,232 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:50,234 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:50,235 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:50,234 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:50,235 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:50,236 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:50,237 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:51,237 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:51,239 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:51,239 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:51,240 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:51,240 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:51,241 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:51,242 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:51,243 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:52,242 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:52,244 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:52,245 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:52,245 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:52,246 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:52,248 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 11:47:52,249 INFO sqlalchemy.engine.base.Engine SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;
2021-02-03 11:47:52,249 INFO sqlalchemy.engine.base.Engine {}
2021-02-03 11:47:53,250 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-03 11:47:53,251 INFO sqlalchemy.engine.base.Engine COMMIT

In [31]:
import sqlalchemy.pool as pool
import psycopg2

pg_connect_string = "postgres://postgres:postgres@localhost:5432/postgres"

def getconn():
    c = psycopg2.connect(pg_connect_string)
    return c


mypool = pool.QueuePool(getconn, max_overflow=10, pool_size=5, echo=True, recycle=5,)


# get a connection
conn = mypool.connect()

# use it
cursor = conn.cursor()
cursor.execute("SELECT * FROM public.github_users FETCH FIRST 2 ROWS ONLY;")

for row in cursor:
    print(row, type(row))

# "close" the connection.  Returns
# it to the pool.
conn.close()

(21, 'https://api.github.com/users/technoweenie', 'technoweenie', 'https://avatars.githubusercontent.com/u/21?', '', 'technoweenie') <class 'tuple'>
(22, 'https://api.github.com/users/macournoyer', 'macournoyer', 'https://avatars.githubusercontent.com/u/22?', '', 'macournoyer') <class 'tuple'>

## SQLAlchemy ORM

In [35]:
# Declarative Mapping

from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base


Base = declarative_base()


class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)

    def __repr__(self):
        return "<User(name='%s', fullname='%s', nickname='%s')>" % (
            self.name, self.fullname, self.nickname)

In [36]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('nickname', String(), table=<users>), schema=None)

In [38]:
andrey = User(name="Andrey", fullname="Andrey Anshin", nickname="taragolis")

andrey.name, andrey.fullname, andrey.nickname

(None, 'Andrey', 'Andrey Anshin', 'taragolis')

In [39]:
andrey = User("Andrey", "Andrey Anshin", "taragolis")

TypeError: __init__() takes 1 positional argument but 4 were given

In [40]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///:memory:", echo=True)  # Create in-memory SQLite database and add outputs

In [41]:
Base.metadata.create_all(engine)

2021-02-03 12:00:45,130 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-03 12:00:45,131 INFO sqlalchemy.engine.base.Engine ()
2021-02-03 12:00:45,132 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-03 12:00:45,132 INFO sqlalchemy.engine.base.Engine ()
2021-02-03 12:00:45,133 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("users")
2021-02-03 12:00:45,134 INFO sqlalchemy.engine.base.Engine ()
2021-02-03 12:00:45,134 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("users")
2021-02-03 12:00:45,135 INFO sqlalchemy.engine.base.Engine ()
2021-02-03 12:00:45,136 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	PRIMARY KEY (id)
)


2021-02-03 12:00:45,136 INFO sqlalchemy.engine.base.Engine ()
2021-02-03 12:00:45,137 INFO sqlalchemy.engine.base.Engine COMMIT

In [42]:
Base.metadata.create_all(engine)

2021-02-03 12:01:19,432 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("users")
2021-02-03 12:01:19,433 INFO sqlalchemy.engine.base.Engine ()

In [43]:
Base.metadata.tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('nickname', String(), table=<users>), schema=None)})

In [44]:
User.metadata.create_all(engine)

2021-02-03 12:01:47,563 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("users")
2021-02-03 12:01:47,564 INFO sqlalchemy.engine.base.Engine ()

In [45]:
# Classical Mapping

from sqlalchemy import Table, MetaData, Column, Integer, String
from sqlalchemy.orm import mapper


metadata = MetaData()

user_2 = Table('user_2', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(50)),
    Column('fullname', String(50)),
    Column('nickname', String(12))
)

class User2:
    def __init__(self, name, fullname, nickname):
        self.name = name
        self.fullname = fullname
        self.nickname = nickname

mapper(User2, user_2)

In [46]:
andrey_2 = User2(name="Andrey", fullname="Andrey Anshin", nickname="taragolis")
andrey_2.name, andrey_2.fullname, andrey_2.nickname

('Andrey', 'Andrey Anshin', 'taragolis')

In [48]:
andrey_2a = User2("Andrey", "Andrey Anshin", "taragolis")
andrey_2a.name, andrey_2a.fullname, andrey_2a.nickname

('Andrey', 'Andrey Anshin', 'taragolis')

In [49]:
metadata.create_all(engine)

2021-02-03 12:05:08,826 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("user_2")
2021-02-03 12:05:08,826 INFO sqlalchemy.engine.base.Engine ()
2021-02-03 12:05:08,827 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("user_2")
2021-02-03 12:05:08,828 INFO sqlalchemy.engine.base.Engine ()
2021-02-03 12:05:08,829 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user_2 (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	fullname VARCHAR(50),
	nickname VARCHAR(12),
	PRIMARY KEY (id)
)


2021-02-03 12:05:08,829 INFO sqlalchemy.engine.base.Engine ()
2021-02-03 12:05:08,830 INFO sqlalchemy.engine.base.Engine COMMIT

In [50]:
User2.metadata.create_all(engine)

AttributeError: type object 'User2' has no attribute 'metadata'

In [51]:
from sqlalchemy.orm import sessionmaker


Session = sessionmaker(bind=engine)

session = Session()

In [53]:
type(Session)

sqlalchemy.orm.session.sessionmaker

In [54]:
type(session)

sqlalchemy.orm.session.Session

In [55]:
print(dir(session))

['_Session__binds', '__class__', '__contains__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_add_bind', '_after_attach', '_autoflush', '_before_attach', '_bulk_save_mappings', '_close_impl', '_conditional_expire', '_connection_for_bind', '_contains_state', '_delete_impl', '_deleted', '_dirty_states', '_enable_transaction_accounting', '_expire_state', '_expunge_states', '_flush', '_flush_warning', '_flushing', '_identity_cls', '_is_clean', '_merge', '_new', '_query_cls', '_register_altered', '_register_persistent', '_remove_newly_deleted', '_save_impl', '_save_or_update_impl', '_save_or_update_state', '_update_impl', '_validate_persistent', '_warn_on_events', 'add', 'add_all', 'autocommit', 'autoflush', 'begin', 'begin_nested', 'bind', 'bind_mapper', 'bind_table', 'bulk_insert_mappings', 'bulk_save_objects', 'bulk_update_mappings', 'close', 'close_all', 'commit', 'connection', 'connection_callable', 'delete', 'deleted', 'dirty', 'dispatch', 'enable_baked_queries', 'enable_relationship_loading', 'execute', 'expire', 'expire_all', 'expire_on_commit', 'expunge', 'expunge_all', 'flush', 'get_bind', 'hash_key', 'identity_key', 'identity_map', 'info', 'invalidate', 'is_active', 'is_modified', 'merge', 'new', 'no_autoflush', 'object_session', 'prepare', 'prune', 'public_methods', 'query', 'refresh', 'rollback', 'scalar', 'transaction', 'twophase']

#### [Session API](https://docs.sqlalchemy.org/en/13/orm/session_api.html)

In [56]:
andrey = User(name="Andrey", fullname="Andrey Anshin", nickname="taragolis")
session.add(andrey)

#### [Query API](https://docs.sqlalchemy.org/en/13/orm/query.html)

In [ ]:
session.query(User)

In [59]:
for x in session.query(User):
    print(x.id, x.nickname)

2021-02-03 12:11:36,876 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
2021-02-03 12:11:36,876 INFO sqlalchemy.engine.base.Engine ()
1 taragolis

In [60]:
session.rollback()

2021-02-03 12:12:57,706 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [61]:
for x in session.query(User):
    print(x.id, x.nickname)

2021-02-03 12:13:02,121 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-03 12:13:02,122 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
2021-02-03 12:13:02,123 INFO sqlalchemy.engine.base.Engine ()

In [63]:
# Re-create in-memory DB

engine = create_engine("sqlite:///:memory:") # Default in-memory. echo=False

Base.metadata.create_all(engine)  # Create table (in our case only one table)

Session = sessionmaker(bind=engine) # Create session maker with binded engine
session = Session() # create session object

In [64]:
session.add_all([
    User(name="Andrey", fullname="Andrey Anshin", nickname="taragolis"),
    User(name="Charles", fullname="Charles Leclerc", nickname="charlesleclerc"),
])

In [65]:
session.query(User).filter_by(name="Charles").first()

### [filter_by](https://docs.sqlalchemy.org/en/13/orm/query.html#sqlalchemy.orm.query.Query.filter_by)

In [66]:
session.commit()

In [67]:
session.close()