In [1]:
def print_var_info(o, name=None, no_print_value=False):
    if no_print_value:
        if name:
            print("%s id(%s) - %r" % (name, id(o), type(o), ))
        else:
            print("id(%s) - %r" % (id(o), type(o), ))
    else:
        if name:
            print("%s id(%s) = %r - %r" % (name, id(o), o, type(o), ))
        else:
            print("id(%s) = %r - %r" % (id(o), o, type(o), ))

# Built-in Types
https://docs.python.org/3/library/stdtypes.html#

## The Null Object
https://docs.python.org/3/library/stdtypes.html#the-null-object

In [2]:
None

In [3]:
n1 = None

print_var_info(n1)

id(9480688) = None - <class 'NoneType'>

In [4]:
n2 = n1

print_var_info(n2)

id(9480688) = None - <class 'NoneType'>

In [5]:
print_var_info(None)

id(9480688) = None - <class 'NoneType'>

In [6]:
if n2:
    print("Not None")
else:
    print("None")

None

In [7]:
n2 is None

True

In [8]:
n2 == None

True

## Boolean Type
https://docs.python.org/3/library/stdtypes.html#boolean-operations-and-or-not

### bool

In [9]:
True

True

In [10]:
False

False

In [11]:
print_var_info(True)

id(9472320) = True - <class 'bool'>

In [12]:
print_var_info(True)

id(9472320) = True - <class 'bool'>

In [13]:
b1 = True
b2 = b1
b2 = False

print_var_info(b1)
print_var_info(b2)

id(9472320) = True - <class 'bool'>
id(9469888) = False - <class 'bool'>

In [24]:
b3 = True

In [25]:
print_var_info(b3)

id(9472320) = True - <class 'bool'>

In [26]:
b3 &= False

In [27]:
print_var_info(b3)

id(9469888) = False - <class 'bool'>

## Numeric Types
https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

### int
https://docs.python.org/3/library/functions.html#int

In [30]:
i1 = 1
print_var_info(i1)

i1 += 2
print_var_info(i1)

i1 -= 5
print_var_info(i1)

i1 -= 100 ** 100
print_var_info(i1)

id(9784864) = 1 - <class 'int'>
id(9784928) = 3 - <class 'int'>
id(9784768) = -2 - <class 'int'>
id(140296129099440) = -100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002 - <class 'int'>

### float
https://docs.python.org/3/library/functions.html#float

In [31]:
f1 = .01
print_var_info(f1)

f1 += 1.01
print_var_info(i1)

f1 -= 1.0e1
print_var_info(i1)

id(140296146673328) = 0.01 - <class 'float'>
id(140296129099440) = -100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002 - <class 'int'>
id(140296129099440) = -100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002 - <class 'int'>

### complex
https://docs.python.org/3/library/functions.html#complex

In [32]:
c1 = (3 + 6j)
c1

(3+6j)

In [33]:
print_var_info(c1)

id(140296128619184) = (3+6j) - <class 'complex'>

In [34]:
c1 += 1
print_var_info(c1)

id(140296128619760) = (4+6j) - <class 'complex'>

## Sequence Types
https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range

### list
https://docs.python.org/3/library/stdtypes.html#list

In [36]:
list([1, 2, 3])

[1, 2, 3]

In [37]:
[1, 2, 3]

[1, 2, 3]

In [39]:
l1 = [1, 2, 3]
print_var_info(l1)

id(140296128949056) = [1, 2, 3] - <class 'list'>

In [40]:
l1 += [4, 5, 6]  # .extend([4, 5, 6])
print_var_info(l1)

id(140296128949056) = [1, 2, 3, 4, 5, 6] - <class 'list'>

In [41]:
l2 = l1
print_var_info(l2)

id(140296128949056) = [1, 2, 3, 4, 5, 6] - <class 'list'>

In [42]:
del l2[:]

In [43]:
l2

[]

In [44]:
l1

[]

In [45]:
l1 = [1, 2, 3]

In [46]:
print_var_info(l1)

id(140296137792832) = [1, 2, 3] - <class 'list'>

In [47]:
l2 = l1.copy()

In [48]:
print_var_info(l2)

id(140296146656000) = [1, 2, 3] - <class 'list'>

In [49]:
del l2[:]

In [50]:
l2

[]

In [51]:
l1

[1, 2, 3]

### tuple
https://docs.python.org/3/library/stdtypes.html#tuple

In [53]:
t1 = tuple([1, 2, 3])

In [56]:
t2 = (1, 2, 3, )

In [57]:
t3 = 1, 2, 3

In [60]:
print_var_info(t1)

id(140296146478080) = (1, 2, 3) - <class 'tuple'>

In [61]:
print_var_info(t2)

id(140296129172032) = (1, 2, 3) - <class 'tuple'>

In [62]:
print_var_info(t3)

id(140296146440704) = (1, 2, 3) - <class 'tuple'>

In [64]:
t4 = t3
print_var_info(t4)

id(140296146440704) = (1, 2, 3) - <class 'tuple'>

In [67]:
t4 += 1,

In [68]:
print_var_info(t4)

id(140296128640160) = (1, 2, 3, 1) - <class 'tuple'>

In [69]:
i1, i2 =  1, 2

print(i1, i2)

1 2

In [70]:
i1 = 1,

In [71]:
i1 += 1

TypeError: can only concatenate tuple (not "int") to tuple

### range
https://docs.python.org/3/library/stdtypes.html#ranges

In [72]:
range(1)

range(0, 1)

In [73]:
range(1, 2)

range(1, 2)

In [76]:
range(1, 10, 2)

range(1, 10, 2)

## Text Sequence Type

### str
https://docs.python.org/3/library/stdtypes.html#str

In [81]:
s1 = "sdadasdasdad sdsadasd"
print_var_info(s1)

id(140296128687920) = 'sdadasdasdad sdsadasd' - <class 'str'>

In [82]:
s1 += "!"
print_var_info(s1)

id(140296128738688) = 'sdadasdasdad sdsadasd!' - <class 'str'>

In [84]:
s2 = s1
print_var_info(s2)

s2 += "<>"
print_var_info(s1)
print_var_info(s2)

id(140296128738688) = 'sdadasdasdad sdsadasd!' - <class 'str'>
id(140296128738688) = 'sdadasdasdad sdsadasd!' - <class 'str'>
id(140296128739968) = 'sdadasdasdad sdsadasd!<>' - <class 'str'>

In [85]:
", ".join(["1", "2", "3"])

'1, 2, 3'

In [86]:
"<%s>: %s! %s" % ("1", "2", "3")

'<1>: 2! 3'

## Set Types
https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset

### set
https://docs.python.org/3/library/stdtypes.html#set

In [87]:
se1 = {1, 2, 3, 1}
print_var_info(se1)

id(140296137864576) = {1, 2, 3} - <class 'set'>

In [89]:
se1.add(1)
print_var_info(se1)

id(140296137864576) = {1, 2, 3} - <class 'set'>

In [90]:
se1.add("ssdsdsd")
print_var_info(se1)

id(140296137864576) = {'ssdsdsd', 1, 2, 3} - <class 'set'>

### frozenset
https://docs.python.org/3/library/stdtypes.html#frozenset

In [92]:
fs1 = frozenset([1, 2, 3, 1])
print_var_info(fs1)

id(140296137865472) = frozenset({1, 2, 3}) - <class 'frozenset'>

In [93]:
fs1.add(1)
print_var_info(fs1)

AttributeError: 'frozenset' object has no attribute 'add'

## Binary Sequence Types
https://docs.python.org/3/library/stdtypes.html#binary-sequence-types-bytes-bytearray-memoryview

## bytes
https://docs.python.org/3/library/stdtypes.html#bytes

In [94]:
print_var_info(b"sadsasdsa sadsdasdasd")

id(140296128770544) = b'sadsasdsa sadsdasdasd' - <class 'bytes'>

In [95]:
print_var_info(u"sdsadas sdsds")

id(140296128782832) = 'sdsadas sdsds' - <class 'str'>

In [96]:
b1 = b"Яндекс — облегченная версия поисковой системы"

SyntaxError: bytes can only contain ASCII literal characters. (<ipython-input-96-801c8b35335d>, line 1)

In [99]:
b1 = "Яндекс — облегченная версия поисковой системы".encode("utf-8")
print_var_info(b1)

id(140295765060784) = b'\xd0\xaf\xd0\xbd\xd0\xb4\xd0\xb5\xd0\xba\xd1\x81 \xe2\x80\x94 \xd0\xbe\xd0\xb1\xd0\xbb\xd0\xb5\xd0\xb3\xd1\x87\xd0\xb5\xd0\xbd\xd0\xbd\xd0\xb0\xd1\x8f \xd0\xb2\xd0\xb5\xd1\x80\xd1\x81\xd0\xb8\xd1\x8f \xd0\xbf\xd0\xbe\xd0\xb8\xd1\x81\xd0\xba\xd0\xbe\xd0\xb2\xd0\xbe\xd0\xb9 \xd1\x81\xd0\xb8\xd1\x81\xd1\x82\xd0\xb5\xd0\xbc\xd1\x8b' - <class 'bytes'>

In [100]:
print_var_info(b1.decode("utf-8"))

id(140295763065472) = 'Яндекс — облегченная версия поисковой системы' - <class 'str'>

In [103]:
b1 += b1

In [104]:
print_var_info(b1)

id(140295777800240) = b'\xd0\xaf\xd0\xbd\xd0\xb4\xd0\xb5\xd0\xba\xd1\x81 \xe2\x80\x94 \xd0\xbe\xd0\xb1\xd0\xbb\xd0\xb5\xd0\xb3\xd1\x87\xd0\xb5\xd0\xbd\xd0\xbd\xd0\xb0\xd1\x8f \xd0\xb2\xd0\xb5\xd1\x80\xd1\x81\xd0\xb8\xd1\x8f \xd0\xbf\xd0\xbe\xd0\xb8\xd1\x81\xd0\xba\xd0\xbe\xd0\xb2\xd0\xbe\xd0\xb9 \xd1\x81\xd0\xb8\xd1\x81\xd1\x82\xd0\xb5\xd0\xbc\xd1\x8b\xd0\xaf\xd0\xbd\xd0\xb4\xd0\xb5\xd0\xba\xd1\x81 \xe2\x80\x94 \xd0\xbe\xd0\xb1\xd0\xbb\xd0\xb5\xd0\xb3\xd1\x87\xd0\xb5\xd0\xbd\xd0\xbd\xd0\xb0\xd1\x8f \xd0\xb2\xd0\xb5\xd1\x80\xd1\x81\xd0\xb8\xd1\x8f \xd0\xbf\xd0\xbe\xd0\xb8\xd1\x81\xd0\xba\xd0\xbe\xd0\xb2\xd0\xbe\xd0\xb9 \xd1\x81\xd0\xb8\xd1\x81\xd1\x82\xd0\xb5\xd0\xbc\xd1\x8b' - <class 'bytes'>

## bytearray
https://docs.python.org/3/library/stdtypes.html#bytearray

In [102]:
ba1 = bytearray("Яндекс — облегченная версия поисковой системы", "utf-8")
print_var_info(ba1)

ba1 += b"1"
print_var_info(ba1)

id(140295777307440) = bytearray(b'\xd0\xaf\xd0\xbd\xd0\xb4\xd0\xb5\xd0\xba\xd1\x81 \xe2\x80\x94 \xd0\xbe\xd0\xb1\xd0\xbb\xd0\xb5\xd0\xb3\xd1\x87\xd0\xb5\xd0\xbd\xd0\xbd\xd0\xb0\xd1\x8f \xd0\xb2\xd0\xb5\xd1\x80\xd1\x81\xd0\xb8\xd1\x8f \xd0\xbf\xd0\xbe\xd0\xb8\xd1\x81\xd0\xba\xd0\xbe\xd0\xb2\xd0\xbe\xd0\xb9 \xd1\x81\xd0\xb8\xd1\x81\xd1\x82\xd0\xb5\xd0\xbc\xd1\x8b') - <class 'bytearray'>
id(140295777307440) = bytearray(b'\xd0\xaf\xd0\xbd\xd0\xb4\xd0\xb5\xd0\xba\xd1\x81 \xe2\x80\x94 \xd0\xbe\xd0\xb1\xd0\xbb\xd0\xb5\xd0\xb3\xd1\x87\xd0\xb5\xd0\xbd\xd0\xbd\xd0\xb0\xd1\x8f \xd0\xb2\xd0\xb5\xd1\x80\xd1\x81\xd0\xb8\xd1\x8f \xd0\xbf\xd0\xbe\xd0\xb8\xd1\x81\xd0\xba\xd0\xbe\xd0\xb2\xd0\xbe\xd0\xb9 \xd1\x81\xd0\xb8\xd1\x81\xd1\x82\xd0\xb5\xd0\xbc\xd1\x8b1') - <class 'bytearray'>

## memoryview
https://docs.python.org/3/library/stdtypes.html#memoryview

In [105]:
import time

# Remove one byte per cycle into bytes/memoryview variables
for n in (100000, 200000, 300000, 400000):
    data = b'x' * n
    
    b = data
    print_var_info(b, no_print_value=True)
    start = time.time()
    while b:
        b = b[1:]
    print('bytes', n, (time.time() - start), end="\n\n")
    
    b = memoryview(data)
    print_var_info(b, no_print_value=True)
    start = time.time()
    while b:
        b = b[1:]
    print('bytes', n, (time.time() - start), end="\n\n")

id(48161872) - <class 'bytes'>
bytes 100000 0.09521603584289551

id(140296129228224) - <class 'memoryview'>
bytes 100000 0.007601261138916016

id(48403648) - <class 'bytes'>
bytes 200000 0.3763618469238281

id(140296129228416) - <class 'memoryview'>
bytes 200000 0.014789342880249023

id(48603696) - <class 'bytes'>
bytes 300000 0.8197019100189209

id(140296129228224) - <class 'memoryview'>
bytes 300000 0.02259039878845215

id(48903744) - <class 'bytes'>
bytes 400000 1.664531946182251

id(140296129228416) - <class 'memoryview'>
bytes 400000 0.033272743225097656

## Mapping Types
### dict
https://docs.python.org/3/library/stdtypes.html#dict

In [107]:
d1 = {"a": 1, "b": 3, "c": None}
print_var_info(d1)

id(140295777294464) = {'a': 1, 'b': 3, 'c': None} - <class 'dict'>

In [108]:
d1["a"] = 2
print_var_info(d1)

id(140295777294464) = {'a': 2, 'b': 3, 'c': None} - <class 'dict'>

In [109]:
d2 = d1.copy()
print_var_info(d2)

id(140295777295360) = {'a': 2, 'b': 3, 'c': None} - <class 'dict'>

In [110]:
del d2["a"]

In [111]:
print_var_info(d1)
print_var_info(d2)

id(140295777294464) = {'a': 2, 'b': 3, 'c': None} - <class 'dict'>
id(140295777295360) = {'b': 3, 'c': None} - <class 'dict'>